/* Importing other CSS files */
@import url("./reset.css");
@import url("./theme.css");
@import url("./components/buttons.css");
@import url("./components/header.css");
@import url("./components/footer.css");

/* General Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size to 62.5% for easier rem units */
html {
  font-size: 62.5%;
}

/* Global styling for the body */
body {
  font-family: "Poppins", "Montserrat", sans-serif;
  background: var(--background-color);
  color: var(--text-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

/* Global styling for SVG elements */
svg {
  width: 24px;
  height: 24px;
}

/* Container styling for the content */
.container {
  background: var(--border-color);
  height: auto;
  max-width: 512px;
  border-radius: 0.5rem;
  padding: 0.2rem;
  clip-path: polygon(
    25px 0%,
    100% 0,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    0 100%,
    0% 25px
  );
}

/* Container styling for the music content */
.music-container {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  padding: 2.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  clip-path: polygon(
    25px 0%,
    100% 0,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    0 100%,
    0% 25px
  );
  background: var(--card-background);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(px);
}

/* Styling for the cover box */
#cover-box {
  border-radius: 0.5rem;
  padding: 0.25rem;
  background: var(--card-background);
  background-image: var(--gradient-primary);
  width: 25rem;
  height: 25em;
  clip-path: polygon(
    25px 0%,
    100% 0,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    0 100%,
    0% 25px
  );
}

/* Styling for the cover image */
#cover {
  display: block;
  height: 100%;
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  clip-path: polygon(
    25px 0%,
    100% 0,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    0 100%,
    0% 25px
  );
}

/* Styling for the music box */
#music-box {
  width: 100%;
}

/* Styling for the music information */
#music-info {
  clip-path: polygon(
    20px 0%,
    100% 0,
    100% calc(100% - 0px),
    calc(100% - 0px) 100%,
    0 100%,
    0% 20px
  );
  padding: 1rem 0.5rem;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 2rem;
  background: var(--button-bg);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 2px;
}

/* Styling for the title */
#title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

/* Styling for the artist */
#artist {
  font-size: 1.5rem;
  font-weight: 400;
}

/* Styling for the progress container */
#progress-container {
  height: 1rem;
  width: 100%;
  background-color: var(--player-bg);
  border: 1px solid var(--player-thumb-color);
  cursor: pointer;
  border-radius: 0.1rem;
}

/* Styling for the timer bar */
#timer-bar {
  margin: 2rem 0 1rem;
  display: flex;
  color: var(--text-color-secondary);
  justify-content: space-between;
  font-size: 1.8rem;
}

/* Styling for the progress bar */
#progress {
  background-color: var(--player-track-color);
  width: 0%;
  height: 0.8rem;
  border-radius: inherit;
  transition: width 100ms ease-in;
}

/* Styling for the control box */
#control-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(
    0px 0%,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0% 0px
  );
  padding: 1rem;
  text-align: center;
  width: 100%;
  position: relative;
  top: 2em;
  background: var(--button-bg);
  border-radius: 0px 0px 0px 4px;
}

/* Styling for close button */
.btn-x {
  margin: 0 0.25rem;
  background-color: var(--button-bg);
  background-image: var(--gradient-secondary);
  padding: 0.1rem;
  border-radius: 0.25rem;
  clip-path: polygon(
    12px 0%,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%,
    0% 12px
  );
}

/* Media query for hover effect on certain buttons */
@media (hover: hover) {
  .btn:hover {
    background: var(--button-hover-bg);
  }
  .btn-x:hover {
    background-color: var(--button-hover-bg);
    background-image: var(--gradient-secondary);
  }

  .special-btn:hover {
    opacity: 0.75;
  }
}