/* Footer Styles */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color-secondary);
  width: 512px;
  max-width: 1024px;
}

.ff-disclaimer {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--text-color-secondary);
}

.ff-credit {
  font-size: 0.9rem;
  color: var(--text-color-primary);
}

.ff-creator {
  color: var(--text-highlight);
  text-decoration: none;
  transition: color var(--transition-speed);
}

.ff-creator:hover {
  color: var(--button-hover-bg);
  text-decoration: underline;
}
